.day
  =date.day
%ul.events
  %span(style="display:none")
    =link_to 'Click to edit lunch for this day', url_for(:action => 'edit', :year => date.year, :month => date.month, :day => date.day)
  -events.each do |lunch|
    %li
      %span
        =lunch.name
      with
      =lunch.host_group.name
