-content_for :head do
  :javascript
    $(function(){
      $('.join-button')
        .bind("ajax:complete", function(){
          $(this).siblings('.quit-button').toggle();
          $(this).toggle();
          var members = $(this).parent().siblings('.members');
          members.text(parseInt(members.text())+1);
        });
      $('.quit-button')
        .bind("ajax:complete", function(){
          $(this).toggle();
          $(this).siblings('.join-button').toggle();
          var members = $(this).parent().siblings('.members');
          members.text(parseInt(members.text())-1);
        });
    });
-content_for :header do
  %h1
    =image_tag "icons/users.png"
    Groups
.bloc
  .title
    Groups
  .content
    %p
      This is a listing of all groups in the system. Likely you'll want to 
      =link_to "search", "#"
      for a group instead, or simply 
      =link_to "enter their code", joinbycode_path
      \. If you don't find a group that you like, 
      =link_to 'create a new group', new_group_path
      \.
    %table
      %thead
        %tr
          %th
            %input.checkall(type="checkbox")
          %th
            Name
          %th
            Code
          %th
            Members
          %th
            Actions
      %tbody
        -@groups.each do |group|
          %tr
            %td
              %input(type="checkbox")
            %td=link_to group.name, group
            %td=group.code
            %td.members=group.users.count
            %td
              =link_to "Quit", quit_group_path(group), :method => 'put', :remote => true, :class => 'quit-button', :style => ((current_user.groups.include? group) ? "" : "display: none;")
              =link_to "Join", join_group_path(group), :method => 'put', :remote => true, :class => 'join-button', :style => ((current_user.groups.include? group) ? "display: none;" : "")
              |
              =link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete
