-content_for :header do
  %h1
    =image_tag "icons/dashboard.png"
    Dashboard
.bloc
  .title
    Home
  .content
    .center
      :markdown
        Ahoy! Taking forever you figure out where to go to lunch? You're in the right place. If you signed up through
        and email invitation then you're already in a group, congratulations! When your group arranges a lunch, you'll receive
        an email notification asking you to RSVP. When you RSVP, your preferences will be considered when choosing where
        to go to lunch that day and a followup email will tell you where to go. Easy!

        If you haven't already joined a group, head on over to the [Groups](/groups) section to join one and enjoy all
        the financial, social, and temporal benefits associated with having someone else choose where you eat.
.bloc
  .title
    Lunches Today
  .content
    %p
      The are the lunches available for the groups that you are a part of. You can only attend one, so make it good!
    -if @lunches.count>0
      %ul
        -@lunches.each do |lunch|
          %li=link_to lunch.name,lunch
    -else
      %p
        No lunches today,
        =link_to 'start one', new_lunch_path
        \.
.bloc
  .title
    Groups You Belong To
  .content
    .center
      %p
        The groups you belong to determine what lunches you will be invited to by default. Try to join groups that are close to you geographically so that you're more likely to be happy with the lunch choices.
      %ul
        -current_user.groups.each do |group|
          %li
            =link_to group.name, group
