-content_for :header
  %h1
    =image_tag "icons/dashboard.png"
    Dashboard
.bloc
  .title
    Dashboard
  .content.dashboard
    .center
      Stuff will probably happen here when I get time to put it here. I imagine initially you'll have a group selection dialog and after you're in a group or two you're going to want to opt-in to lunches.
.bloc
  .title
    Groups You Belong To
  .content
    .center
      %ul
        -current_user.groups.each do |group|
          %li
            =group.name
