-content_for :header do
  %h1
    =image_tag "icons/dashboard.png"
    Dashboard
.bloc
  .title
    Home
  .content
    .center
      :markdown
        Ahoy! Taking forever you figure out where to go to lunch? You're in the right place. If you signed up through
        and email invitation then you're already in a group, congratulations! When your group arranges a lunch, you'll receive
        an email notification asking you to RSVP. When you RSVP, your preferences will be considered when choosing where
        to go to lunch that day and a followup email will tell you where to go. Easy!

        If you haven't already joined a group, head on over to the [Groups](/groups) section to join one and enjoy all
        the financial, social, and temporal benefits associated with having someone else choose where you eat.
.bloc
  .title
    Groups You Belong To
  .content
    .center
      %ul
        -current_user.groups.each do |group|
          %li
            =group.name
