%h1
  =image_tag "icons/users.png"
  Groups
.bloc
  .title
    Join a Group
  .content
    %p
      This is a listing of all groups in the system. Likely you'll want to 
      =link_to "search", "#"
      for a group instead, or simply 
      =link_to "enter their code", "#"
      \.
    %table
      %thead
        %tr
          %th
            %input.checkall(type="checkbox")
          %th
            Name
          %th
            Actions
      %tbody
        -@groups.each do |g|
          %tr
            %td
              %input(type="checkbox")
            %td
              =g.name
            %td
              =link_to "Join", g
