-content_for :header do
  %h1
    =image_tag "icons/document-checklist.png"
    Categories

.bloc
  .title
    Categories
  .content
    %table
      %thead
        %tr
          %th Name
          %th Actions
      %tbody
        - @categories.each do |category|
          %tr
            %td= link_to category.name, category
            %td
              =link_to image_tag('icons/actions/edit.png'), edit_category_path(category)
              =link_to image_tag('icons/actions/delete.png'), category, :confirm => 'Are you sure?', :method => :delete
=render 'new'
